.dropdown {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #d71212;
    color: #333;
    cursor: pointer;
    outline: none;
  }
  
  .dropdown:hover {
    background-color: #f9f9f9;
  }
  
  /* Style the dropdown arrow */
  .dropdown::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    margin-left: 5px;
  }