.dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #E6E8ED;
    color: #333;
    cursor: pointer;
    outline: none;
  }
  
  .dropdown:hover {
    background-color: #f9f9f9;
  }
  
  .dropdown::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    margin-left: 5px;
  }
  
  /* Add styles for each theme */
  .dark {
    background-color: #303336;
    color: hsl(209 50% 90%);
  }
  
  .dark:hover {
    background-color: hsl(209 50% 5%);
  }
  
  .dark::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    margin-left: 5px;
  }
  
  .light {
    background-color: #f0f0f0;
    color: #000000;
  }
  
  .light:hover {
    background-color: #ffffff;
  }
  
  .light::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    margin-left: 5px;
  }
  